.image-carousel {
  position: relative;
  width: 100%;
  aspect-ratio: 16 / 9;
  overflow: hidden;
  border-radius: var(--radius-lg);
  background: var(--color-surface);
}


.image-carousel__image {
  width: 100%;
  height: 100%;
  cursor: zoom-in;
}

.image-carousel__image:hover{
  transform: scale(1.02);
  transition: transform var(--transition-normal);
}

.image-carousel__image img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.image-carousel--empty {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: auto;
  aspect-ratio: 16 / 9;
  font-size: var(--font-size-xl);
  color: var(--color-text);
  background: var(--color-surface);
}

.image-carousel__button {
  position: absolute;

  top: 50%;

  transform: translateY(-50%);
  width: var(--size-md);
  height: var(--size-md);

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;
  background: var(--color-overlay);
  color: white;

  transition:
    background var(--transition-fast),
    transform var(--transition-fast);
}

.image-carousel__button--previous {
  left: var(--space-3);
}

.image-carousel__button--next {
  right: var(--space-3);
}

.image-carousel__button:hover {
  background: var(--color-overlay-hover);
}

.image-carousel__indicators {
  position: absolute;
  left: 50%;
  bottom: var(--space-4);
  transform: translateX(-50%);
  display: flex;
  gap: var(--space-2);
}

.image-carousel__indicator {
  width: var(--size-xxs);
  height: var(--size-xxs);
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.5);
  transition: all var(--transition-fast);
}

.image-carousel__indicator--active {
  background: var(--color-primary);
  transform: scale(1.2);
}

.image-carousel__overlay {
  position: fixed;
  inset: 0;


  display: flex;
  justify-content: center;
  align-items: center;

  background: var(--color-overlay);
  z-index: var(--z-overlay);
}

.image-carousel__modal {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
}

.image-carousel__modal img {
  max-width: 95vw;
  max-height: 90vh;
  object-fit: contain;
}

.image-carousel__close {
  position: absolute;
  top: 1rem;
  right: 1rem;

  width: var(--size-lg);
  height: var(--size-lg);

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;

  background: rgba(0, 0, 0, 0.6);
  color: white;
}


@media (max-width: 640px) {
  .image-carousel__button {
    width: var(--size-sm);
    height: var(--size-sm);
  }
}
