.separator {
  display: flex;
  align-items: center;
  gap: var(--space-4);

  width: 100%;
  margin: var(--space-12) 0;

  color: var(--color-primary);
}

.separator::before,
.separator::after {
  content: "";
  height: var(--border-width);
  flex: 1;
  background: var(--color-border);
}

.separator::before {
  background: linear-gradient(to right, transparent, var(--color-border));
}

.separator::after {
  background: linear-gradient(to left, transparent, var(--color-border));
}

.separator span {
  font-family: var(--font-code);
  color: var(--color-primary);
}
