node_modules
**/node_modules
npm-debug.log

.git
.github
.gitignore

.env
.env.*
!.env.example

dist
build

logs
*.log

apps/server/uploads/*
!apps/server/uploads/*/.gitkeep

apps/server/src/controllers/test.controller.js
apps/server/src/routes/test.routes.js