PORT=5000
NODE_ENV=development

CLIENT_URL=http://localhost:5173

DATABASE_URL=
GITHUB_USERNAME=
GITHUB_TOKEN=


ADMIN_USERNAME=admin

ADMIN_PASSWORD_HASH=

ADMIN_SEQUENCE_HASH=

JWT_SECRET=

JWT_EXPIRES_IN=1h

JWT_CHALLENGE_EXPIRES_IN=5m

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=