.skills {
  display: flex;
  flex-direction: column;
  gap: var(--space-12);
  padding: var(--space-3) var(--space-5);

  cursor: default;
  min-height: 3rem;

  transition:
    transform var(--transition-fast),
    border-color var(--transition-fast);
}

.skills__none {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.skill:hover {
  transform: translateY(-3px);
}

.skills__group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--space-4);
}

.skills__group-title {
  margin: 0;
  font-size: var(--font-size-xl);
  color: var(--color-heading);
}

.skills__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: var(--space-3);
}

.skill__name {
  display: flex;
  font-weight: var(--font-weight-medium);
  align-items: center;
  justify-content: center;
}

@media (max-width: 640px) {
  .skills {
    gap: var(--space-8);
  }
}
