@import "../../../../styles/theme.css";

.navbar {
  position: sticky;
  top: 0;
  width: 100%;
  background: var(--color-surface);
  z-index: var(--z-header);
  margin-bottom: auto;
}

.navbar__container {
  max-width: var(--layout-max-width);
  margin: 0 auto;
  padding: 1rem var(--layout-padding);

  display: flex;
  align-items: center;
}

.navbar__brand {
  flex-shrink: 0;
  border: 0;
  padding: 0;

  background: transparent;

  font: inherit;
  color: var(--color-primary);

  cursor: default;
}

.navigation {
  flex: 1;
  justify-content: center;
}

.navigation-actions {
  flex-shrink: 0;
}